.title-label {
    -fx-font-size: 20pt;
    -fx-font-family: "Optima";
    -fx-padding: 5 5 5 5;
}

.sub-title {
    -fx-font-size: 16pt;
    -fx-font-family: "Optima";
    -fx-padding: 5 5 5 5;
}

.sub-text {
    -fx-font-size: 8pt;
}